GEMINI_API_KEY=
DATABASE_URL=postgresql://supachai:9717@localhost:5432/trading_db
POSTGRES_USER=supachai
POSTGRES_PASSWORD=9717
POSTGRES_DB=trading_db
POSTGRES_PORT=5432

APP_PORT=3000
SECRET_KEY=therng

FTP_HOST=therng.thddns.net
FTP_PORT=21
FTP_USER=supachai
FTP_PASS=9717
FTP_PATH=usb1_1_1/Metatrader5

WORKER_POLL_MS=150000
WORKER_FILE_STABLE_MS=60000
WORKER_MIN_FILE_SIZE_BYTES=1024

HTTP_PORT=80
HTTPS_PORT=443

# Maintenance Mode
NEXT_PUBLIC_MAINTENANCE_MODE=false
